In [5]:
#importing necessary tools
import pandas as pd
#reading provided CSV data
df=pd.read_csv('train_revised.csv')
#converting travel date to datetime
df['date'] = pd.to_datetime(df['travel_date'],format= "%d-%m-%y").dt.weekday
#extracting Sunday data only
modified_df=df.loc[df["date"]==6]
print(modified_df)
#Counting the routes
Awendo=modified_df.loc[modified_df['travel_from']=='Awendo'].count()
Homabay=modified_df.loc[modified_df['travel_from']=='Homabay'].count()
Kehancha=modified_df.loc[modified_df['travel_from']=='Kehancha'].count()
Kendu_Bay=modified_df.loc[modified_df['travel_from']=='Kendu Bay'].count()
Keroka=modified_df.loc[modified_df['travel_from']=='Keroka'].count()
Keumbu=modified_df.loc[modified_df['travel_from']=='Keumbu'].count()
Kijauri=modified_df.loc[modified_df['travel_from']=='Kijauri'].count()
Kisii=modified_df.loc[modified_df['travel_from']=='Kisii'].count()
Mbita=modified_df.loc[modified_df['travel_from']=='Mbita'].count()
Migori=modified_df.loc[modified_df['travel_from']=='Migori'].count()
Ndhiwa=modified_df.loc[modified_df['travel_from']=='Ndhiwa'].count()
Nyachenge=modified_df.loc[modified_df['travel_from']=='Nyachenge'].count()
Oyugis=modified_df.loc[modified_df['travel_from']=='Oyugis'].count()
Rodi=modified_df.loc[modified_df['travel_from']=='Rodi'].count()
Rong=modified_df.loc[modified_df['travel_from']=='Rong'].count()
Sirare=modified_df.loc[modified_df['travel_from']=='Sirare'].count()
Sori=modified_df.loc[modified_df['travel_from']=='Sori'].count()
print(Awendo,Homabay,Kehancha,Kendu_Bay,Keroka,Keumbu,Kijauri,Kisii,Mbita,Migori,Ndhiwa,Nyachenge,Oyugis,Rodi,Rong,Sirare,Sori)
#from values  obtained#ranking from most travelled from to least
Kisii_value='3607'
Migori_value='954'
Sirare_value='634'
Kehancha_value="294"
Awendo_value="270"
Keroka_value='145'
Kijauri_value='138'
Nyachenge_value='107'
Mbita_value='73'
Rodi_value='50'
Ndhiwa_value='22'
Keumbu_value='3'
Homabay_value="0"
Sori_value='3'
Kendu_bay_value='0'
Oyugis_value='0'
Rong_value='0'

       ride_id seat_number payment_method payment_receipt travel_date  \
1         5437         14A          Mpesa      TIHLBUSGTE    19-11-17
2         5710          8B          Mpesa      EQX8Q5G19O    26-11-17
111       5856           9           Cash      MDF1ULUMPX    15-04-18
112       5857           6           Cash      MDF1ULG1GR    15-04-18
113       5857           3           Cash      MDF6ULD8NQ    15-04-18
...        ...         ...            ...             ...         ...
49784    13534          8A          Mpesa      DDLUTQQJ2C    15-04-18
49785    13534          7A          Mpesa      GVJSWN57XJ    15-04-18
49786    13535         15A          Mpesa      MI27JEXM0L    15-04-18
49787    13541          2B          Mpesa      ICOT1CSM7F    15-04-18
49788    13547         15A          Mpesa      X9XZAPYDCG    15-04-18

      travel_time travel_from travel_to car_type  max_capacity  date
1            7:12      Migori   Nairobi      Bus            49     6
2            7:05      Keroka   Nairobi      Bus            49     6
111          5:20       Kisii   Nairobi  shuttle            11     6
112          5:00       Kisii   Nairobi  shuttle            11     6
113          5:00       Kisii   Nairobi  shuttle            11     6
...           ...         ...       ...      ...           ...   ...
49784       19:07      Sirare   Nairobi      Bus            49     6
49785       19:07      Sirare   Nairobi      Bus            49     6
49786        8:00      Awendo   Nairobi      Bus            49     6
49787        7:13    Kehancha   Nairobi      Bus            49     6
49788        7:05        Sori   Nairobi      Bus            49     6

[7819 rows x 11 columns]
ride_id            270
seat_number        270
payment_method     270
payment_receipt    270
travel_date        270
travel_time        270
travel_from        270
travel_to          270
car_type           270
max_capacity       270
date               270
dtype: int64 ride_id            0
seat_number        0
payment_method     0
payment_receipt    0
travel_date        0
travel_time        0
travel_from        0
travel_to          0
car_type           0
max_capacity       0
date               0
dtype: int64 ride_id            294
seat_number        294
payment_method     294
payment_receipt    294
travel_date        294
travel_time        294
travel_from        294
travel_to          294
car_type           294
max_capacity       294
date               294
dtype: int64 ride_id            0
seat_number        0
payment_method     0
payment_receipt    0
travel_date        0
travel_time        0
travel_from        0
travel_to          0
car_type           0
max_capacity       0
date               0
dtype: int64 ride_id            145
seat_number        145
payment_method     145
payment_receipt    145
travel_date        145
travel_time        145
travel_from        145
travel_to          145
car_type           145
max_capacity       145
date               145
dtype: int64 ride_id            3
seat_number        3
payment_method     3
payment_receipt    3
travel_date        3
travel_time        3
travel_from        3
travel_to          3
car_type           3
max_capacity       3
date               3
dtype: int64 ride_id            138
seat_number        138
payment_method     138
payment_receipt    138
travel_date        138
travel_time        138
travel_from        138
travel_to          138
car_type           138
max_capacity       138
date               138
dtype: int64 ride_id            3607
seat_number        3607
payment_method     3607
payment_receipt    3607
travel_date        3607
travel_time        3607
travel_from        3607
travel_to          3607
car_type           3607
max_capacity       3607
date               3607
dtype: int64 ride_id            73
seat_number        73
payment_method     73
payment_receipt    73
travel_date        73
travel_time        73
travel_from        73
travel_to          73
car_type           73
max_capacity       73
date               73
dtype: int64 ride_id            954
seat_number        954
payment_method     954
payment_receipt    954
travel_date        954
travel_time        954
travel_from        954
travel_to          954
car_type           954
max_capacity       954
date               954
dtype: int64 ride_id            22
seat_number        22
payment_method     22
payment_receipt    22
travel_date        22
travel_time        22
travel_from        22
travel_to          22
car_type           22
max_capacity       22
date               22
dtype: int64 ride_id            107
seat_number        107
payment_method     107
payment_receipt    107
travel_date        107
travel_time        107
travel_from        107
travel_to          107
car_type           107
max_capacity       107
date               107
dtype: int64 ride_id            0
seat_number        0
payment_method     0
payment_receipt    0
travel_date        0
travel_time        0
travel_from        0
travel_to          0
car_type           0
max_capacity       0
date               0
dtype: int64 ride_id            50
seat_number        50
payment_method     50
payment_receipt    50
travel_date        50
travel_time        50
travel_from        50
travel_to          50
car_type           50
max_capacity       50
date               50
dtype: int64 ride_id            0
seat_number        0
payment_method     0
payment_receipt    0
travel_date        0
travel_time        0
travel_from        0
travel_to          0
car_type           0
max_capacity       0
date               0
dtype: int64 ride_id            634
seat_number        634
payment_method     634
payment_receipt    634
travel_date        634
travel_time        634
travel_from        634
travel_to          634
car_type           634
max_capacity       634
date               634
dtype: int64 ride_id            3
seat_number        3
payment_method     3
payment_receipt    3
travel_date        3
travel_time        3
travel_from        3
travel_to          3
car_type           3
max_capacity       3
date               3
dtype: int64

In [9]:
#importing necessary tools
import pandas as pd
import tensorflow as tensorflow
from tensorflow.keras import layers
import numpy as np
#reading provided CSV data
df=pd.read_csv('train_revised.csv')
print(df)
df_new = np.where(df['payment_receipt']=='MK')
print (df_new)

       ride_id seat_number payment_method payment_receipt travel_date  \
0         1442         15A          Mpesa      UZUEHCBUSO    17-10-17
1         5437         14A          Mpesa      TIHLBUSGTE    19-11-17
2         5710          8B          Mpesa      EQX8Q5G19O    26-11-17
3         5777         19A          Mpesa      SGP18CL0ME    27-11-17
4         5778         11A          Mpesa      BM97HFRGL9    27-11-17
...        ...         ...            ...             ...         ...
51640    13826          9B          Mpesa      8V2XDDZR6V    20-04-18
51641    13809         18A          Mpesa      4PEBSVJSNK    20-04-18
51642    13809         17A          Mpesa      LVN64LZDNN    20-04-18
51643    13796         16B          Mpesa      REYBSKTYWN    20-04-18
51644    14304           7          Mpesa      AQN7FBUSGP    14-11-17

      travel_time travel_from travel_to car_type  max_capacity
0            7:15      Migori   Nairobi      Bus            49
1            7:12      Migori   Nairobi      Bus            49
2            7:05      Keroka   Nairobi      Bus            49
3            7:10    Homa Bay   Nairobi      Bus            49
4            7:12      Migori   Nairobi      Bus            49
...           ...         ...       ...      ...           ...
51640        8:00      Awendo   Nairobi      Bus            49
51641        8:00      Migori   Nairobi      Bus            49
51642        8:00      Migori   Nairobi      Bus            49
51643        7:08      Awendo   Nairobi      Bus            49
51644        5:10       Kisii   Nairobi      Bus            49

[51645 rows x 10 columns]
(array([], dtype=int64),)